body{
    margin:0px;
}
.container {
    background-color: whitesmoke;
    width:100%;
    height:67rem;
    padding-top:1rem;
}
/* First Div */
.form{
  width:17rem;
  height:40rem;
  margin:auto ;
  background-color: white;
  border: 1px solid rgb(139, 136, 136);
  padding:1.5rem 2rem;
  text-align: center;
}
.form2{
    padding-top:1rem;
    
}
.inputdata{
    width:95%;
    margin-bottom:.6rem;
    padding:.6rem 0 .6rem .35rem;
}
.heading{

    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
}
.description{
   
    font-size: 1.2rem;
    font-weight: bold;
    opacity: .5;

}
.btn{
 padding: .35rem 2.7rem;
 background-color: rgb(96, 96, 234);
 color:white;
 border: 1px solid #D6E4E5;
 border-radius: 5px;
}
.horizon{
    position: relative;
    opacity: .7;
    font-family: sans-serif;
    font-size: .8rem;
    font-weight: bold;
}
.horizon:before{
        content:" ";
        height: 2px;
        width: 110px;
        position: absolute;
        top:50%;
        left: 0;
        background-color:#D6E4E5;
      
}
.horizon::after{
    content: " ";
    height: 2px;
    width: 110px;
    background-color:#D6E4E5;
    position: absolute;
    top:50%;
    right:0;
   
}
.image{
    width:1.1rem;
    height: 1.1rem;
    padding-right:.6rem;
    
}
.tag{
 font-size: .9rem;
 font-weight: bold;
 color:white;
}
.para {
    font-size: .8rem;
    opacity: .8;
}
.Anchor{
    text-decoration: none;
}
.btn1{
    padding:.3rem 6.5rem;
    background-color: rgb(130, 130, 237);
 color:white;
 border: 1px solid #D6E4E5;
 border-radius: 5px;
}

/* Login div */
.login{
    width:17rem;
    margin:1rem auto 0 ;
    background-color: white;
  border: 1px solid rgb(139, 136, 136);
  padding:.6rem 2rem;
  text-align: center;
}

/* Get app*/
.getApp{
    width:17rem;
    margin:1rem auto 0;
    padding: .6rem 2rem;
    text-align: center;
}
.Store{
    width:7.3rem;
    height: 3rem;
}

/* Footer */
.footer{
    width:50rem;
    max-width: 85%;
    margin:.6rem auto 0;
   padding:3rem 0 0;
}
.footer-link{
 font-size: .8rem;
 text-align: center;
 padding:.5rem 0;
}
.space{
    padding-right:10px;
}
.space:hover{
    text-decoration:underline;
}
.footer-end{
    width:20rem;
    text-align:center;
    margin:auto;
    font-size:.8rem;
}
#lang{
    float:left;
    background-color: #D6E4E5;
    outline:none;
    
}